<div id="foot" class="container-fluid basics">
		<div class="container">
			<div class="row foot-font">
				<div class="col-md-3 col-md-offset-1" style="padding: 20px">
					<a href="#">
						<img src="//anoldcd.oss-cn-shanghai.aliyuncs.com/img/logo-hui.png"/>
					</a>
				</div>
				<div class="col-md-5" style="padding: 20px;">
					anoldcd®是一个非盈利的音乐社区旨在创造一个高品质音乐发布平台<br>让更多人享受到音乐的魅力
				</div>
				<div class="col-md-3">
					<ul class="foot-ul">
						<li>关于我们</li>
						<li>账号协定</li>
						<li>使用必读</li>
					</ul>
					<ul class="foot-ul">
						<li>版权争议</li>
						<li>法律约束</li>
					</ul>
				</div>
				<div class="col-md-12 foot-friendship">
					<ul>
						<li>七牛云储存</li>
						<li>Google App Engine</li>
						<li>Django</li>
						<li>Amazon</li>
					</ul>
				</div>
				<div class="col-md-12">
					<h5 class="pull-left">社交网络：<a>微信</a> | <a>微博</a></h5>
					<h6 class="pull-right foot-right">© 2007 - 2016 anoldcd.com 音乐社区 - 网站地图<br>
                        黑联盟</h6>
				</div>
			</div>
		</div>
	</div>